*.o
moc_*
Makefile
*.pro.user
browser.desktop
browser64.png
browser80.png
browser_harmattan.desktop
testapp
i*_interface.h
i*_interface.cpp
i*_adaptor.h
i*_adaptor.cpp
*.sw*
demoui
*.zip
BrowserDefs*
*.html
*.db
browserdbus-tests
cachemanagerdbus-tests
unit-tests
